<header>
    <nav>
        <a href="/">websitebs</a>
        <ul>
            <li><a href="/authors">Artists</a></li>
            <li><a href="/authors/new"> Add Artists</a></li>
            <li><a href="/books">Songs</a></li>
            <li><a href="/books/new"> Add Songs</a></li>
        </ul>
    </nav>
</header>